# Build artifacts
bin/
obj/

# Visual Studio / Rider
.vscode/
.idea/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment files
.env

# Publish output
*.publish.xml

# Temporary files
~$*
*.tmp

# macOS
.DS_Store

# Others
launchSettings.json
